@font-face {
    font-family: 'FonteLogin';
    src: url("../fonte/rajdhani-bold.ttf");
}

body{
    background: url("../imagens/fundoAzul.jpg") no-repeat;
    background-size: 100% 800px;
    border-right: -10px;
}

button{
    background-color:transparent;
    border: transparent;
    border-right:-30px;
}
.voltar{
    font-size: 20px;
    margin-top: 30%;
}

div#Busca{
    margin-left: 65%;
    background-color:transparent;
    margin-top: 8%;
  }
button#b{
    position: relative;
    top: -32px;
    left:310px;
    margin-right: 0%;

}

img#busca{
    position: absolute;
    margin-top: -10%;
    left: 0px;
    margin-right: 0%;
}
  #txtBusca{
    position:relative;
    font-style:italic;
    font-size:18px;
    border-radius:15px;
    height:32px;
    width:400px;
    /* margin-top: 0%;
    margin-right: 0%; */
  }
img#busca{
    margin-top: 0px;
    position: relative;
    right: 100px;
    margin-right: 0%;
}
#paginação{
    position: relative;
    top:30px;
    left:85%;
    margin: -2% -2% -2% -2%;
}
#tabela{
    margin-top: 0%;
}
.back{
    margin-left: -200%;
}
.form-select{
    position: fixed;
    top:4.5%;
    left: 90%;
}


